<!-- Rooms Avialable -->

<div class="container" > 
            <div class="col-sm-4" ng-repeat = "rental in rentals | rentalFilter:priceInfo | orderBy:roomtype | limitTo: 9" >
                <div class="thumbnail">
                    <img ng-src="Images/{{rental.image}}.jpg" alt="">
                    <div class="caption">
                        <div ng-hide="showDetails === true">
                        <h3><i class="glyphicon glyphicon-tag"></i> {{rental.price | currency}} </h3>
                        <h4><i class="glyphicon glyphicon-home"></i> {{rental.description}} <br>
                            <span class="label label-primary label-sm"> {{rental.propertyType.type}} </span>
                        </h4>
                    </div>
                        <button class="btn btn-xs btn-success"
                                ng-hide="showDetails ===true"
                                ng-click="showDetails= !showDetails">
                                Details
                        </button>
                          <button 
            	class="btn btn-xs btn-primary"
            	ng-show="showDetails"
            	ng-click="editRental(rental)">Edit
            </button>
                        <button class="btn btn-xs btn-danger"
                                ng-show="showDetails === true"
                                ng-click="showDetails = !showDetails">
                                Close
                        </button>
                        <div class="details" ng-show="showDetails === true">
                            <h4>
                                <span class="label label-primary">Beds: {{rental.details.bedrooms}}</span>
                                <span class="label label-primary">Baths: {{rental.details.bathrooms}}</span>
                                <span class="label label-primary">Sqft: {{rental.details.area}}</span>
                            </h4>
                            <p>{{rental.address}}</p>
                        </div>
                    </div>
                </div>
  
    </div>
    <ul class="pager">
  <li class="previous"><a href="#/">Previous</a></li>
  <li class="next"><a href="#/">Next</a></li>
</ul>
            
</div>




