<!doctype HTML >

<div class="page" ng-controller="addcontroller">

  <div class="userinfo" ng-show="currentUser" ng-controller="RegistrationController">
    <span class="userinfo">Hi {{currentUser.firstname}}</span>
    <a ng-href="#/login" ng-click="logout()">logout</a>
  </div>

        
        <!-- Min and Max Pricce Selection -->
        <div class="container" >
        <div class="col-sm-12 price-form" >

		      <div class="listing-form" >

		        <h3>Add a Listing</h3>

		        <div class="row listing-form-row">
		          <div class="col-sm-4">
		            <div class="input-group">
		              <span class="input-group-addon">Address</span>
		              <input 
		              	type="text" 
		              	placeholder="Enter the address" 
		              	class="form-control" 
		              	ng-model="newListing.address">
		            </div>
		          </div>

		          <div class="col-sm-4">
		            <div class="input-group">
		              <span class="input-group-addon">Price</span>
		              <input 
		              	type="text" 
		              	placeholder="Enter the price" 
		              	class="form-control" 
		              	ng-model="newListing.price">
		            </div>
		          </div>

		          <div class="col-sm-4">
		            <div class="input-group">
		              <span class="input-group-addon">House Type</span>
		              <select 
		              	type="select" 
		              	name="propertyType" 
		              	id="propertyType" 
		              	class="form-control" 
		              	ng-model="newListing.propertyType.type">
			                <option value="EntireHome">Entire Home</option>
			                <option value="PrivateRoom">Private Room</option>
			                <option value="SharedRoom">Shared Room</option>
		              </select>
		            </div>
		          </div>
		        </div>

		        <div class="row listing-form-row">
		          <div class="col-sm-4">
		            <div class="input-group">
		              <span class="input-group-addon">Description</span>
		              <textarea 
		              	type="text" 
		              	placeholder="Enter the description" 
		              	class="form-control" 
		              	ng-model="newListing.description">
		              </textarea>
		            </div>
		          </div>

		          <div class="col-sm-8">

		            <div class="col-sm-4">
		              <div class="input-group">
		                <span class="input-group-addon">Beds</span>
		                <input 
		                	type="text" 
		                	placeholder="Bedrooms" 
		                	class="form-control" 
		                	ng-model="newListing.details.bedrooms">
		              </div>
		            </div>

		            <div class="col-sm-4">
		              <div class="input-group">
		                <span class="input-group-addon">Baths</span>
		                <input 
		                	type="text" 
		                	placeholder="Bathrooms" 
		                	class="form-control" 
		                	ng-model="newListing.details.bathrooms">
		              </div>
		            </div>

		            <div class="col-sm-4">
		              <div class="input-group">
		                <span class="input-group-addon">SqFt</span>
		                <input 
		                	type="text" 
		                	placeholder="Square Footage" 
		                	class="form-control" 
		                	ng-model="newListing.details.area">
		              </div>
		            </div>

		          </div>
		        </div>
						<button 
							class="btn btn-primary listing-button"
							ng-click="addRental(newListing)"
							>Add
						</button>
		        <pre>{{newListing | json}}</pre>
		      </div>
        <div class="listing-form" ng-if="editListing">

	         <h3>Edit Listing</h3>

	         <div class="row listing-form-row">
	           <div class="col-sm-4">
	             <div class="input-group">
	               <span class="input-group-addon">Address</span>
	               <input 
	               	type="text"
	               	placeholder="Enter the address"
	               	class="form-control"
	               	ng-model="existingListing.address">
	             </div>
	           </div>

	           <div class="col-sm-4">
	             <div class="input-group">
	               <span class="input-group-addon">Price</span>
	               <input 
	               	type="text"
	               	placeholder="Enter the price"
	               	class="form-control"
	               	ng-model="existingListing.price">
	             </div>
	           </div>

	           <div class="col-sm-4">
	             <div class="input-group">
	               <span class="input-group-addon">Property Type</span>
	               <select 
	               	type="select"
	               	name="propertyType"
	               	id="propertyType" 
	               	class="form-control" 
	               	ng-model="existingListing.propertyType.type">
	      	           <option value="EntireHome">Entire Home</option>
	      	           <option value="PrivateRoom">Private Room</option>
	      	           <option value="SharedRoom">Shared Room</option>
	               </select>
	             </div>
	           </div>
	         </div>

	         <div class="row listing-form-row">
	           <div class="col-sm-4">
	             <div class="input-group">
	               <span class="input-group-addon">Description</span>
	               <textarea 
	               	type="text"
	               	placeholder="Enter the description"
	               	class="form-control"
	               	ng-model="existingListing.description">
	               </textarea>
	             </div>
	           </div>

	           <div class="col-sm-8">

	             <div class="col-sm-4">
	               <div class="input-group">
	                 <span class="input-group-addon">Beds</span>
	                 <input 
	                 	type="text"
	                 	placeholder="Bedrooms"
	                 	class="form-control"
	                 	ng-model="existingListing.details.bedrooms">
	               </div>
	             </div>

	             <div class="col-sm-4">
	               <div class="input-group">
	                 <span class="input-group-addon">Baths</span>
	                 <input
	                 	type="text"
	                 	placeholder="Bathrooms"
	                 	class="form-control"
	                 	ng-model="existingListing.details.bathrooms">
	               </div>
	             </div>

	             <div class="col-sm-4">
	               <div class="input-group">
	                 <span class="input-group-addon">SqFt</span>
	                 <input
	                 	type="text"
	                 	placeholder="Square Footage"
	                 	class="form-control"
	                 	ng-model="existingListing.details.area">
	               </div>
	             </div>

	           </div>

	           <button 
	           	class="btn btn-primary listing-button"
	           	ng-click="saveRentalEdit()"	
	           	ng-show="editListing">Save
	           </button>

	           <button 
	           	class="btn btn-danger listing-button" 
	           	ng-click="deleteRental(existingListing)" 
	           	ng-show="editListing">Delete
	           </button>

	           </div>

            
		  </div>
          
        </div>

    </div>
            <nav  ng-include="'views/available.html'"></nav>

</div>
    